[Unit]
Description=WPA Supplicant for Outernet mesh
After=dbus.service
 
[Service]
Type=forking
ExecStart=/sbin/wpa_supplicant -c/etc/wpa_supplicant/wpa_supplicant-%I.conf -i%I -Dnl80211 -B
 
[Install]
WantedBy=multi-user.target
