#Outernet Mesh wlan0 config
# used to set the interface settings
#/etc/systemd/network/10-wlan0-mesh.network

[Match]
Name=wlan0

[Network]
MTUBytes=1500
