[Unit]
Description=Outernet Wireless Services
After=network.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/outernet-service.sh
ExecStop=/usr/local/bin/outernet-stop.sh
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
