[Unit]
Description=Outernet Mesh WPA Supplicant
After=dbus.service
 
[Service]
Type=forking
ExecStart=/sbin/wpa_supplicant -c/etc/outernet/wpa/wpa_supplicant-wlan0.conf -iwlan0 -Dnl80211 -B
 
[Install]
WantedBy=multi-user.target
